* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #f1f1f1;
}

ul {
    list-style-type: none;
    margin: 48px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 0;
}

ul img {
    filter: invert(100%);
    flex-grow: 2;
    margin-top: 3px;
}

h1, li {
    color: white;
}

h1 {
    margin-left: 20px;
    margin-top: 3px;
}

li {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 24px;
    cursor: pointer;
}

li:first-child {
    margin-top: 24px;
}

.logo {
    margin-left: 10px;
    display: flex;
}

.logo img {
    filter: invert(100%);
}

.container {
    display: grid;
    grid-template-areas: 
    "dash head head head head"
    "dash main main main main"
    "dash . . . .";
}

.header {
    background-color: white;
    grid-area: head;
    height: 200px;
    box-shadow: 1px 1px 4px 1px rgb(0 0 0 /0.4);
    padding: 16px;
}

.searchbar {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 2fr 3fr 1fr;
}

.spacer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
}

img[src="bell.svg"] {
    grid-column: 4;
    margin-top: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-self: end;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: -20px;
}

button {
    grid-row: 3 / 4;
    border-radius: 30px;
    background-color: #08f;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

label {
    margin-top: 5px;
}

input[type="search"] {
    width: 500px;
    height: 30px;
    background-color: #ddd;
    border-radius: 30px;
    border: none;
}

input[type="search"], img[src="search.svg"] {
    margin-top: 9px;
}

.profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.small {
    width: 50px;
    height: 50px;
}

.small + p {
    width: 100px;
    margin-top: 16px;
    font-weight: bold;
    font-size: 18px;
}

.greet-user p {
    font-weight: bold;
}

.user {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-bottom: 24px;
}

.user p:first-child {
    margin-bottom: 8px;
}

.user-name {
    font-size: 24px;
}

.sidebar {
    background-color: #08f;
    display: flex;
    flex-direction: column;
    grid-area: dash;
    height: 100vh;
    width: 350px;
    padding: 16px;
}

.main {
    grid-area: main;
    padding: 16px;
    display: grid;
    grid-template-areas:
    "title . ."
    "card card announce"
    "card card ."
    "card card trending";
    gap: 15px;
}

.title {
    grid-area: title;
    font-size: 24px;
    font-weight: bold;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: card;
    gap: 32px;
}

.card {
    height: 275px;
    padding: 32px;
    background-color: white;
    border-radius: 8px 10px 10px 8px;
    border-left: 8px solid orange;
    display: grid;
    grid-template-areas:
    "title title title"
    "text text text"
    ". . logos";
}

h2 {
    grid-area: title;
    font-size: 18px;
}

.card p {
    grid-area: text;
    word-break: keep-all;
    font-size: 14px;
    color: grey;
}

.card div {
    justify-self: end;
}

.announcements {
    grid-area: announce;
    position: relative;
}

.announcements h3 {
    position: absolute;
    top: -25px;
}

.trending {
    position: relative;
    grid-area: trending;
}

.trending h3 {
    position: absolute;
    top: -25px;
}

.announcement-card {
    background-color: white;
    padding: 32px;
    border-radius: 10px;
}

.announcement-card p:nth-child(3n - 2) {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.announcement-card p:nth-child(3n - 1) {
    color: grey;
}

hr {
    margin: 16px auto;
}

.trending-card {
    background-color: white;
    border-radius: 10px;
    padding: 32px;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: left;
}

.trending-card img {
    position: relative;
    margin-top: 8px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    bottom: 15px;
}

.trending-card > div > p {
    position: relative;
    right: 55px;
    margin-top: 8px;
}

.trending-card > div > p:last-child {
    color: grey;
}